<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title>정기결제 :: DoCha Admin Web</title>

    <script src="/js/payment.js" th:src="@{/js/payment.js}"></script>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Side Bar -->
    <div th:replace="main_aside :: mainAside"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="main_top_menu :: topMenu"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">정기 결제</h6>
                    </div>
                    <div class="card-body">
                        <div class="mb-4 text-right">
                            <button class="btn" id="btnExcel"></button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                <tr>
                                    <th>예약번호</th>
                                    <th>예약일시</th>
                                    <th>회원(연락처)</th>
                                    <th>대여일시</th>
                                    <th>반납일시</th>
                                    <th>회원사(지점)</th>
                                    <th>차량번호(모델)</th>
                                    <th>사용기간</th>
                                    <th>전체금액</th>
                                    <th>결제금액</th>
                                    <th>회차</th>
                                    <th>결제예정일</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>예약번호</th>
                                    <th>예약일시</th>
                                    <th>회원(연락처)</th>
                                    <th>대여일시</th>
                                    <th>반납일시</th>
                                    <th>회원사(지점)</th>
                                    <th>차량번호(모델)</th>
                                    <th>사용기간</th>
                                    <th>전체금액</th>
                                    <th>결제금액</th>
                                    <th>회차</th>
                                    <th>결제예정일</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="payment, index : ${paymentInfoList}" style="cursor: pointer" >
                                    <td th:text="${payment.getRmIdx()}"></td>
                                    <td th:text="${payment.getRegDt()}"></td>
                                    <td th:text="${payment.getUserName() + ' (' + payment.getUserContact1() + ')'}"></td>
                                    <td th:text="${payment.getRentStartDay()}"></td>
                                    <td th:text="${payment.getRentEndDay()}"></td>
                                    <td th:text="${payment.getCompanyName() + ' (' + payment.getBranchName() + ')'}"></td>
                                    <td th:text="${payment.getCarNumber() + ' (' + payment.getModelName() + ')'}"></td>
                                    <td></td>
                                    <td th:text="${#numbers.formatInteger(payment.getPaymentTotalAmount(), 3 , 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(payment.getSumPaymentAmount(), 3, 'COMMA')}"></td>
                                    <td th:text="${payment.getPayCount() + ' / ' + payment.getTotalPayCount()}"></td>
                                    <td th:text="${payment.getNextPaymentDay()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    initializingPageData();
    initDataTables();

    var paymentInfoList = /*[[${paymentInfoList}]]*/'';
    console.log(paymentInfoList);
</script>
</body>
</html>
