<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title>예약 관리 :: DoCha Admin Web</title>

    <script src="/js/reserveMnt.js" th:src="@{/js/reserveMnt.js}"></script>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="cursor: pointer" onclick="changeCardView('rentShopInfoCard')">예약 관리</h6>
                    </div>

                    <div id="reserveMasterInfo">
                        <div class="card-body"><h5 class="card-title">회원 (예약자)</h5>
                            <input type="text" class="form-control reserveUserInfo" id="urIdx" placeholder="" style="display: none"/>
                            <div class="row">
                                <div class=" col-lg-3 mb-3 float-l flex-1">
                                    <label>이름</label>
                                    <input type="text" class="form-control reserveUserInfo" id="reserveUserName" placeholder="" />
                                </div>
                                <div class="col-lg-3 mb-3 float-l">
                                    <label>아이디</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control"  placeholder="" value="" id="reserveUserId" />
                                    </div>
                                </div>
                                <div class=" col-lg-3 mb-3 float-l flex-1">
                                    <label>연락처</label>
                                    <input type="text" class="form-control reserveUserInfo" id="reserveUserContact1" placeholder="" />
                                </div>
                                <div class=" col-lg-3 mb-3 float-l flex-1">
                                    <label>생년월일</label>
                                    <a id="reserveUserBirthDay" name="reserveUserBirthDay"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-card mb-3 card" id="firstDriverDiv">
                    <div class="card-body">
                        <h5 class="card-title">제1 운전자</h5>
                        <input type="hidden" id="ulIdx1" />
                        <span class="top-right">
                                    <div class="position-relative form-check mb-3">
                                        <label th:if="${session.LOGIN_SESSION.userRole.equals('RA')}"
                                               class="form-check-label">
                                            <input type="checkbox" class="form-check-input" id="DriverSettingchk" onchange="firstDriverSetting('DriverSettingchk');" />예약자와 동일
                                        </label>
                                    </div>
                                </span>
                        <div class="row">
                            <div class="col-lg-4 mb-3 float-l flex-1" >
                                <label>이름</label>
                                <input type="text" class="form-control" id="firstDriverName" placeholder="" />
                            </div>
                            <div class="col-lg-4 mb-3 float-l flex-1" >
                                <label>연락처</label>
                                <input type="text" class="form-control" id="firstDriverContact" placeholder="" />
                            </div>
                            <div class="col-lg-4 mb-3 float-l" style="flex:1;">
                                <label>생년월일</label>
                                <a id="firstDriverBirthDay" name="firstDriverBirthDay"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>면허종류</label>
                                <select id="sel_firstDriverLicenseCode" class="custom-select">
                                </select>
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>면허번호</label>
                                <input type="text" id="firstDriverLicenseNumber" class="form-control" value="">
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>적성검사 만료일</label>
                                <a id="firstDriverExpirationDate" name="firstDriverExpirationDate"></a>
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>발급일</label>
                                <a id="firstDriverLicenseIsDate" name="firstDriverLicenseIsDate"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">제2 운전자</h5>
                        <input type="hidden" id="ulIdx2" />
                        <div class="row">
                            <div class="col-lg-4 mb-3 float-l flex-1" >
                                <label>이름</label>
                                <input type="text" class="form-control" id="secondDriverName"  placeholder="" />
                            </div>
                            <div class="col-lg-4 mb-3 float-l flex-1" >
                                <label>연락처</label>
                                <input type="text" class="form-control" id="secondDriverContact" placeholder="" />
                            </div>
                            <div class="col-lg-4 mb-3 float-l" style="flex:1;">
                                <label>생년월일</label>
                                <a id="secondDriverBirthDay" name="secondDriverBirthDay"></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>면허종류</label>
                                <select id="sel_secondDriverLicenseCode" class="custom-select">
                                </select>
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>면허번호</label>
                                <input type="text" id="secondDriverLicenseNumber" class="form-control" value="">
                            </div>
                            <div class="col-lg- mb-3 float-l" style="flex:1;">
                                <label>적성검사 만료일</label>
                                <a id="secondDriverExpirationDate" name="secondDriverExpirationDate"></a>
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>발급일</label>
                                <a id="secondDriverLicenseIsDate" name="secondDriverLicenseIsDate"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">예약</h5>
                        <div class="row">
                            <div class="col-lg-3 mb-3 float-l flex-1" >
                                <label>번호</label>
                                <input type="hidden" id="carTypeCode"  />
                                <input type="text" class="form-control" id="rmIdx" placeholder="" />
                            </div>
                            <div class="col-lg-3 mb-3 float-l flex-1" >
                                <label>구분</label>
                                <input type="text" class="form-control" id="gbn" placeholder="" />
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>예약일시</label>
                                <input type="text" id="reserveDate" class="form-control" value="">
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>상태</label>
                                <select id="sel_reserveStatusCode" class="custom-select" onChange="initRepatmentModal(this.value);" >
                                </select>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-3 mb-3 float-l flex-1" >
                                <label>대여방법</label>
                                <select id="sel_deliveryTypeCode" class="custom-select" >
                                </select>
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>대여일시</label>
                                <input type="text" id="rentStartDay" class="form-control" name="rentStartDay2" data-mask="____-__-__ __:__">
                                <input type="datetime-local" class="form-control" id="rentStartDay" name="rentStartDay" onchange="calcPeriodDt()"/>
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>반납일시</label>
                                <input type="text" class="form-control" id="rentEndDay" name="rentEndDay2"  data-mask="____-__-__ __:__">
                                <input type="datetime-local" class="form-control" id="rentEndDay" name="rentEndDay" onchange="calcPeriodDt()" />
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>사용기간</label>
                                <input type="text" class="form-control" id="periodDt" value="0개월 0일 0시 0분" readonly/>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-lg-12 mb-3 float-l">
                                <label>대여위치</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="deliveryAddr"  placeholder=""/>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" onclick="openDaumAddrApi('deliveryAddr');" >주소찾기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-lg-12 float-l">
                                <label>반납위치</label>
                                <div class="input-group">
                                    <input type="text" id="returnAddr" class="form-control" value=""  />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" onclick="openDaumAddrApi('returnAddr');">주소찾기</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div th:if="${session.LOGIN_SESSION.userRole.equals('RA')}" class="col-lg-12 float-l flex-1 text-right p-b-10">
                            <button class="btn btn-secondary ml-3" type="button" onclick="cancelPay()">예약취소 및 환불</button>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card">
                    <div class="card-body"><h5 class="card-title">차량</h5>
                        <div class="row ">
                            <div class="col-lg-3 mb-3 float-l flex-1" >
                                <label>회사명(지점)</label>
                                <select id="companyName" name="companyName" class="custom-select" onchange="selectCompany(this.value);">
                                </select>
                            </div>
                            <div class="col-lg-3 mb-3 float-l flex-1" >
                                <label>관리자</label>
                                <input type="text" class="form-control" id="staffName"  placeholder="" />
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>연락처</label>
                                <input type="text" id="staffContact1" class="form-control" value="">
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>모델(번호)</label>
                                <input type="hidden" id="mdIdx">
                                <select id="sel_modelName"  class="custom-select" onchange="selectCarInfo('');">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mb-3 float-l flex-1" >
                                <label>연료</label>
                                <select id="sel_fuel" class="custom-select">
                                </select>
                            </div>
                            <div class="col-lg-3 mb-3 float-l flex-1" >
                                <label>출고연식</label>
                                <input type="text" class="form-control" id="year"  placeholder="" />
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>색상</label>
                                <input type="text" class="form-control" id="colorName" value="">
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>누적(km)</label>
                                <input type="text" class="form-control" id="mileage" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 mb-3 mt-3 float-l" id="optionDetailCode" >
                                <label class="carInsuranceInfoOption" >옵션</label>
                                <input type="text" id="optionCodeValue" class="form-control" value="" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mb-3 float-l">
                                <label>대인</label>
                                <input type="text" id="personalCover" class="form-control" value="" readonly>
                            </div>
                            <div class="col-lg-3 mb-3 float-l">
                                <label>대물</label>
                                <input type="text" id="propertyDamageCover" class="form-control" value="" readonly>
                            </div>
                            <div class="col-lg-3 mb-3 float-l">
                                <label>자손</label>
                                <input type="text" id="onselfDamageCover" class="form-control" value="" readonly>
                            </div>
                            <div class="col-lg-3 mb-3 float-l">
                                <label>자차 고객부담금</label>
                                <input type="hidden" id="carDamageCover">
                                <input type="hidden" id="insuranceCopayment">
                                <select th:if="${#session.getAttribute('LOGIN_SESSION').userRole == 'RA'}" id="sel_ciIdx" class="custom-select" onchange="selectInsuranceInfo();">
                                </select>
                                <select th:if="${#session.getAttribute('LOGIN_SESSION').userRole != 'RA'}" id="sel_ciIdx" class="custom-select" onchange="selectInsuranceInfo();"disabled>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card paymentDiv">
                    <div class="card-body"><h5 class="card-title">결제</h5>
                        <div class="row">
                            <div class="col-lg-4 mb-3 float-l flex-1" >
                                <label>대여금액</label>
                                <input type="text" class="form-control" id="rentFee" placeholder="" readonly/>
                            </div>
                            <div class="col-lg-4 mb-3 float-l flex-1" >
                                <label>왕복배달금액</label>
                                <input type="text" class="form-control" id="deliveryFee" placeholder=""  value="0" readonly/>
                            </div>
                            <div class="col-lg-4 mb-3 float-l" style="flex:1;">
                                <label>보험료</label>
                                <input type="text" id="insuranceFee" class="form-control" value="" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>총 대여금액</label>
                                <input type="text" id="paymentTotalAmount" class="form-control" value="" readonly>
                            </div>
                            <div class="col-lg-3 mb-3 float-l flex-1" >
                                <label>추가금액</label>
                                <input th:if="${#session.getAttribute('LOGIN_SESSION').userRole == 'RA'}" type="text" class="form-control" id="revaddFee" placeholder=""  value="0"/>
                                <input th:if="${#session.getAttribute('LOGIN_SESSION').userRole != 'RA'}" type="text" class="form-control" id="revaddFee" placeholder=""  value="0" readonly/>
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>할인금액</label>
                                <input type="text" id="discountFee" class="form-control" value="" readonly>
                            </div>
                            <div class="col-lg-3 mb-3 float-l" style="flex:1;">
                                <label>결제금액</label>
                                <input type="text" id="paymentAmount"  class="form-control" value="" readonly>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3 mt-3 mt-3 float-l" >
                            <label id="calRentTotAmountEtc"></label>
                        </div>
                    </div>
                </div>
                <div class="main-card mb-3 card paymentDiv" id="">
                    <div class="card-body"><h5 class="card-title">결제내역</h5>
                        <div class="col-lg-12">
                            <table id="paymentList" class="table table-hover" data-show-toggle="false" data-sorting="true">
                                <thead>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-right">
                        <div class="row mb-3">
                            <div class="mr-2 font-weight-bold" style="cursor: pointer"
                                 onclick="changeCardView('userReviewCard')">계약서
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button id="btnReverse" th:if="${session.LOGIN_SESSION.userRole.equals('RA')}" class="btn btn-primary" type="button" onclick="reverse()">역경매 이동</button>
                        <button id="btnSave" class="btn btn-primary" type="button" onclick="detailValidation()">저장</button>
                        <button id="btnClose" class="btn btn-primary" type="button" onclick="self.close()">창 닫기</button>
                        <button id="btnReturn" class="btn btn-primary" type="button" onclick="startReturn()">반납</button>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    // swal("상세화면은 순차적으로 오픈할 예정입니다.", { icon: "warning", });

    function getLoginUser() {
        return /*[[${session.LOGIN_SESSION}]]*/ '';
    }

    rmIdx = /*[[${rmIdx}]]*/'';
    CRUD = 'update';

    initDetailInfo(rmIdx);

    function reverse() {
        swal("상세화면은 순차적으로 오픈할 예정입니다.", { icon: "warning", });
    }

    var reserveUserBirthDay = new WinkelCalendar({
        container: 'reserveUserBirthDay',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var firstDriverBirthDay = new WinkelCalendar({
        container: 'firstDriverBirthDay',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var firstDriverExpirationDate = new WinkelCalendar({
        container: 'firstDriverExpirationDate',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var firstDriverLicenseIsDate = new WinkelCalendar({
        container: 'firstDriverLicenseIsDate',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var secondDriverBirthDay = new WinkelCalendar({
        container: 'secondDriverBirthDay',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var secondDriverExpirationDate = new WinkelCalendar({
        container: 'secondDriverExpirationDate',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var secondDriverLicenseIsDate = new WinkelCalendar({
        container: 'secondDriverLicenseIsDate',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    function getDatePickerValue(id) {
        var date;
        switch (id) {
            case 'reserveUserBirthDay':
                date = reserveUserBirthDay.date;
                break;
            case 'firstDriverBirthDay':
                date = firstDriverBirthDay.date;
                break;
            case 'firstDriverExpirationDate':
                date = firstDriverExpirationDate.date;
                break;
            case 'firstDriverLicenseIsDate':
                date = firstDriverLicenseIsDate.date;
                break;
            case 'secondDriverBirthDay':
                date = secondDriverBirthDay.date;
                break;
            case 'secondDriverExpirationDate':
                date = secondDriverExpirationDate.date;
                break;
            case 'secondDriverLicenseIsDate':
                date = secondDriverLicenseIsDate.date;
                break;
        }

        return date;
    }

    function initDatePicker(id, value) {
        switch (id) {
            case 'reserveUserBirthDay':
                reserveUserBirthDay.setDate(new Date(value));
                break;
            case 'firstDriverBirthDay':
                firstDriverBirthDay.setDate(new Date(value));
                break;
            case 'firstDriverExpirationDate':
                firstDriverExpirationDate.setDate(new Date(value));
                break;
            case 'firstDriverLicenseIsDate':
                firstDriverLicenseIsDate.setDate(new Date(value));
                break;
            case 'secondDriverBirthDay':
                secondDriverBirthDay.setDate(new Date(value));
                break;
            case 'secondDriverExpirationDate':
                secondDriverExpirationDate.setDate(new Date(value));
                break;
            case 'secondDriverLicenseIsDate':
                secondDriverLicenseIsDate.setDate(new Date(value));
                break;
        }
    }

</script>
</body>
</html>
