<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title>기본 요금제 :: DoCha Admin Web</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Side Bar -->
    <div th:replace="main_aside :: mainAside"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="main_top_menu :: topMenu"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">기본 요금제</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="mb-4 text-right">
                                <button class="btn btn-primary" onclick="addBasicPlan()">기본요금설정 등록</button>
                                <button class="btn" id="btnExcel"></button>
                            </div>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <script th:inline="javascript">
                                    /* 기본요금설정 등록 */
                                    function addBasicPlan() {
                                        var url = "/car/payment/basic/add";
                                        var name = "기본요금설정 등록";
                                        var specs = "width=600, height=800, location=no, left=500, top=50";
                                        window.open(url, name, specs);
                                    }
                                </script>
                                <thead>
                                <tr>
                                    <th>기본요금제번호</th>
                                    <th>회원사<br>(지점)</th>
                                    <th>제목</th>
                                    <th>일기본요금</th>
                                    <th>월기본요금</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>기본요금제번호</th>
                                    <th>회원사<br>(지점)</th>
                                    <th>제목</th>
                                    <th>일기본요금</th>
                                    <th>월기본요금</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="basicPlan, index : ${basicPlanList}" style="cursor: pointer" th:data-value="${basicPlan.getPyTIdx()}">
                                    <td th:text="${basicPlan.getPyTIdx()}"></td>
                                    <td th:text="${basicPlan.getCompanyName() + '(' + basicPlan.getBranchName() + ')'}"></td>
                                    <td th:text="${basicPlan.getPyEtc()}"></td>
                                    <td th:text="${#numbers.formatInteger(basicPlan.getDailyStandardPay(), 0, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(basicPlan.getMonthlyStandardPay(), 0, 'COMMA')}"></td>
                                </tr>
                                <script th:inline="javascript">
                                    // 상세보기 이동
                                    $('#dataTable > tbody > tr >').click(function () {
                                        var pyTIdx = $(this).parent().attr('data-value');
                                        if (pyTIdx === "") return;

                                        var url = "../../car/payment/basic/" + pyTIdx;
                                        var name = "기본 요금제 수정";
                                        var option = "width=600, height=800, location=no, left=500, top=50";

                                        window.open(url, name, option);
                                    });
                                </script>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    initDataTables();

</script>
</body>
</html>
