<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title>기간 요금제 :: DoCha Admin Web</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Side Bar -->
    <div th:replace="main_aside :: mainAside"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="main_top_menu :: topMenu"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">기간 요금제</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
<!--                                <button class="btn btn-info" onclick="addPerionPlan()">기간요금설정 등록</button>-->
                                <script th:inline="javascript">
                                    /* 기간요금설정 등록 */
                                    function addPerionPlan() {
                                        var url = "/car/payment/period/add";
                                        var name = "기간요금설정 등록";
                                        var specs = "width=600, height=800, location=no, left=500, top=50";
                                        window.open(url, name, specs);
                                    }
                                </script>
                                <thead>
                                <tr>
                                    <th>기간요금번호</th>
                                    <th>회원사<br>(지점)</th>
                                    <th>시작일<br>종료일</th>
                                    <th>할증금액/일</th>
                                    <th>할인금액/일</th>
                                    <th>설정차량대수</th>
                                    <th>내용</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>기간요금번호</th>
                                    <th>회원사<br>(지점)</th>
                                    <th>시작일<br>종료일</th>
                                    <th>할증금액/일</th>
                                    <th>할인금액/일</th>
                                    <th>설정차량대수</th>
                                    <th>내용</th>
                                </tr>
                                </tfoot>
<!--                                <tbody>-->
<!--                                <tr th:each="carModelInfo, index : ${carModelInfoList}" th:data-value="${carModelInfo.getCdIdx()}">-->
<!--                                    <td th:text="${carModelInfo.getCdIdx()}"></td>-->
<!--                                    <td th:text="${carModelInfo.getCarTypeCode()}"></td>-->
<!--                                    <td th:text="${carModelInfo.getManufacturerCode()}"></td>-->
<!--                                    <td th:text="${carModelInfo.getCdYear()}"></td>-->
<!--                                    <td ></td>-->
<!--                                    <td th:text="${carModelInfo.getCarTypeCode()}"></td>-->
<!--                                    <td ></td>-->
<!--                                </tr>-->
<!--                                </tbody>-->
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>
