<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title>권한 템플릿 :: DoCha Admin Web</title>

    <script src="/js/authTemplate.js" th:src="@{/js/authTemplate.js}"></script>

</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Side Bar -->
    <div th:replace="main_aside :: mainAside"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="main_top_menu :: topMenu"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">권한 템플릿</h6>
                        <button class="btn btn-secondary">엑셀 다운로드</button>
                        <button class="btn btn-secondary" onclick="registerAuth()">등록</button>
                        <button class="btn btn-secondary" onclick="detailValidation('deleteAuthTemplate')">삭제</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>권한번호</th>
                                    <th>템플릿명</th>
                                    <th>설명</th>
                                    <th>설정회원</th>
                                    <th>등록일시</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th></th>
                                    <th>권한번호</th>
                                    <th>템플릿명</th>
                                    <th>설명</th>
                                    <th>설정회원</th>
                                    <th>등록일시</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="authTemplate, index : ${authTemplateList}" th:data-value="${authTemplate.getTemplateCd()}">
                                    <td>
                                        <label for="checkBox">
                                            <div class="ui checkbox"><input id="checkBox" type="checkbox" name="checkbox"/></div>
                                        </label>
                                    </td>
                                    <td th:text="${authTemplate.getTemplateCd()}"></td>
                                    <td th:text="${authTemplate.getTemplateNm()}"></td>
                                    <td th:text="${authTemplate.getTemplateMemo()}"></td>
                                    <td th:text="${authTemplate.getRegId()}"></td>
                                    <td th:text="${authTemplate.getRegDt()}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script>
    function registerAuth() {
        var url = '/mem/template/register';
        var name = "test";
        var option = "width = 800, height =1000 ,location=no, left=500, top=50";

        window.open(url, name, option);
    }
</script>
</body>
</html>
