<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title>전체휴일 등록 :: DoCha Admin Web</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper" style="height: 100%">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary" style="cursor: pointer">전체휴일 등록</h6>
                    </div>

                    <div class="card-body">
                        <div class="mb-3">
                            <label class="form-label" for="holiday">휴일</label>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4 mb-3">
                                <a id="holiday" name="holiday" class=""></a>
                            </div>
                            <div class="col-3 mb-3">
                                <input id="holidayName" type="text" class="form-control" placeholder="설명">
                            </div>
                            <div class="col-2 mb-3">
                                <buttzon id="btnSave" class="btn btn-primary" type="button" onclick="saveHoliday()">등록</buttzon>
                            </div>
                        </div>

                        <div id="selectedHolidayData" class="row ml-1 mb-3">
                            <div class="flex mr-2 mb-3" th:each="holiday, index : ${result}" th:data-value="${holiday.getHolIdx()}">
                                <div class="alert alert-primary" role="alert">
                                    <span th:text="${holiday.getHolidayStartDt()} + ' (' + ${holiday.getHolidayName() == ''? '전체휴일' : holiday.getHolidayName()}  + ' / ' + ${holiday.getRegId()} + ')'"></span>
                                    <button type="button" class="close" aria-label="Close" onclick="deleteHolidayDt(this)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                            <script th:inline="javascript">
                                function deleteHolidayDt(data) {
                                    var deleteDtIdx = data.parentElement.parentElement.dataset.value;

                                    var save_type = 'delete';
                                    var req = {
                                        "holIdx": deleteDtIdx
                                    };

                                    let title = '전체휴일 삭제';
                                    let text = '삭제하시겠습니까?';
                                    let icon = 'info';
                                    let cancel_text = '취소하셨습니다.';

                                    call_before_save(title, text, icon, cancel_text, save_type, req);

                                }
                            </script>
                        </div>

                        <div class="card-footer">
                            <div class="text-right">
                                <button id="btnClose" class="btn btn-primary" type="button" onclick="self.close()">창 닫기</button>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div th:replace="main_footer :: mainFooter"></div>

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
</div>
<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/

    var holiday = new WinkelCalendar({
        container: 'holiday',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });


    function saveHoliday() {
        var holidayName = $('#holidayName').val().trim();
        var holidayDt = formatDate(holiday.date);
        var isDuplicated = false;

        var holidayList = /*[[${result}]]*/ '';
        for (var i in holidayList){
            if (holidayList[i].holidayStartDt === formatDate(holidayDt)){
                isDuplicated = true;
            }
        }

        if (isEmpty(holidayDt)){
            errorAlert('전체휴일','날짜를 선택해주세요');
            return;
        }else if (parseInt((holiday.date.getTime() / (1000 * 60 *60 )) /24) < parseInt((new Date().getTime() / (1000 * 60 *60 )) /24)){
            errorAlert('전체휴일','전체휴무일은 과거가 될 수 없습니다.');
            return;
        }else if (isDuplicated){
            errorAlert('전체휴일','이미 등록된 전체 휴무일 입니다.');
            return;
        }

        holidayDt = formatDate(holidayDt);

        var loginUser = /*[[${session.LOGIN_SESSION}]]*/ '';

        var save_type = 'insert';
        var req = {
            "holidayStartDt": holidayDt,
            "holidayEndDt" : holidayDt,
            "holidayName" : holidayName,
            "rtIdx" : "all",
            "regId" : loginUser.urIdx
        };

        let title = '전체휴일 저장';
        let text = '저장하시겠습니까?';
        let icon = 'info';
        let cancel_text = '취소하셨습니다.';

        call_before_save(title, text, icon, cancel_text, save_type, req);
    }

    function detailSubmit(save_type, req) {

        let target;
        let method;

        if (save_type === 'insert'){
            target = 'insertRentCompanyHoliday';
            method = 'insert';
        }else if (save_type === 'delete'){
            target = 'deleteRentCompanyHoliday';
            method = 'delete';
        }

        fn_callApi(method, target, req, function(response) {
            let data = response;

            // 200이라면 페이징을 구한다.
            if (data.code == 200) {

                location.reload();
            }
            else { // 200이 아닐때 empty처리 error처리 등을 기록한다.
                switch (save_type) {
                    case 'insert':
                        errorAlert('저장 실패', '관리자에게 문의하세요.');
                        break;
                    case 'delete':
                        break;
                }

            }
        });// end fn_callApi
    }

    /*]]*/
</script>
</body>
</html>
