<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title th:if="${CRUD == 'insert'}">회원 등록 :: DoCha Admin Web</title>
    <title th:if="${CRUD == 'modify'}">회원 상세 :: DoCha Admin Web</title>

    <script src="/js/integratedMember.js" th:src="@{/js/integratedMember.js}"></script>

    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 th:if="${CRUD == 'insert'}" class="m-0 font-weight-bold text-primary" style="cursor: pointer" onclick="changeCardView('userInfoCard')">회원 등록</h6>
                        <h6 th:if="${CRUD == 'modify'}" class="m-0 font-weight-bold text-primary" style="cursor: pointer" onclick="changeCardView('userInfoCard')">회원 상세</h6>
                    </div>

                    <!--region 회원정보 카드  -->
                    <div id="integratedMemberDetail" class="card-body">

                        <!-- 회원 정보 -->
                        <div class="row">
                            <input type="text" class="form-control d-none" name="urIdx" id="urIdx"/>
                            <div class="col-4  mb-3">
                                <label class="form-label" for="userId">아이디</label>
                                <input type="text" class="form-control" name="userId" id="userId" required/>
                            </div>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="userName">이름</label>
                                <input type="text" class="form-control" name="userName" id="userName"/>
                            </div>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="userAccountType">계정타입</label>
                                <input type="text" class="form-control" name="userAccountType" id="userAccountType" th:value="네이버" readonly/>
                            </div>

                            <div class="col-4 mb-3">
                                <label class="form-label" for="userBirthday">생년월일</label>
                                <a id="userBirthday" name="userBirthday" class=""></a>
                            </div>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="userContact1">연락처</label>
                                <input type="text" class="form-control" name="userContact1" id="userContact1" maxlength="11" onclick="userContactClick()" onblur="userContactAutoHyphen()" onkeypress="inNumber();" />
                            </div>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="userRegDt">가입일시</label>
                                <a id="userRegDt" name="userRegDt" class=""></a>
                            </div>

                            <div class="col-4 mb-3">
                                <label class="form-label" for="sel_userGender">성별</label>
                                <select class="custom-select" name="sel_userGender" id="sel_userGender"></select>
                            </div>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="userPoint">포인트(적립/적립예정/이벤트)</label>
                                <input type="text" class="form-control" name="userPoint" id="userPoint" value="0" readonly />
                            </div>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="sel_userRole">회원등급(권한)</label>
                                <select type="text" class="form-control custom-select" name="sel_userRole" id="sel_userRole"></select>
                            </div>

                            <div class="col-4 mb-3">
                                <label class="form-label" for="userRating">평점</label>
                                <input type="text" class="form-control" name="userRating" id="userRating" value="0" readonly/>
                            </div>

                            <div class="col-12 mt-2">
                                <div class="col-3 mb-3">
                                    <label class="form-label mr-2" for="useYn">접속허용</label>
                                    <input type="checkbox" id="useYn" checked data-toggle="toggle">
                                </div>
                            </div>
                            <div class="col-lg-12 float-l flex-1 text-right p-b-10">
                                <p><br></p>
                                <button class="btn btn-primary" type="button" onclick="detailValidation('saveUser');" >회원정보 저장</button>
                                <button class="btn btn-danger" onclick="cancelData('saveUserInfo')" type="button" >취소</button>
                            </div>
                        </div>

                        <!-- 면허 정보 -->
                        <div class="row mt-2">
                            <h6 class="col-12 mb-3 font-weight-bold">면허정보</h6>
                            <input type="hidden" id="ulIdx" />
                            <div class="col-3 mb-3">
                                <label class="form-label" for="sel_LicenseCode">면허종류</label>
                                <select type="text" class="form-control custom-select" name="sel_LicenseCode" id="sel_LicenseCode" ></select>
                            </div>
                            <div class="col-3 mb-3">
                                <label class="form-label" for="licenseNumber">면허번호</label>
                                <input type="text" class="form-control" onblur="licenseNumAutoHyphen('licenseNumber')" name="licenseNumber" id="licenseNumber"/>
                            </div>
                            <div class="col-3 mb-3">
                                <label class="form-label" for="licenseExpiration">적성검사 만료일</label>
                                <a id="licenseExpiration" name="licenseExpiration" class=""></a>
                            </div>
                            <div class="col-3 mb-3">
                                <label class="form-label" for="licenseIssueDt">발급일</label>
                                <a id="licenseIssueDt" name="licenseIssueDt" class=""></a>
                            </div>

                            <div class="col-lg-12 float-l flex-1 text-right p-b-10">
                                <p><br></p>
                                <button class="btn btn-primary" type="button" onclick="detailValidation('saveUserLicenseInfo');">회원 면허정보 저장</button>
                                <button class="btn btn-danger" type="button" onclick="cancelData('saveLicenseInfo')">취소</button>
                            </div>
                        </div>

                    </div>
                    <!-- #endregion -->

                    <!--region 후기 카드-->
                    <div id="userReviewCard" class="card-body d-none" style="height: 500px">
                        <h5>서비스 준비중입니다.</h5>
                    </div>
                    <!-- endregion -->

                    <!--region 예약내역 카드-->
                    <div id="userReservationHisCard" class="card-body d-none" style="height: 500px">
                        <h5>서비스 준비중입니다.</h5>
                    </div>
                    <!-- endregion -->

                    <!--region 쿠폰발급내역 카드-->
                    <div id="userCouponCard" class="card-body d-none" style="height: 500px">
                        <h5>서비스 준비중입니다.</h5>
                    </div>
                    <!-- endregion -->

                    <!--region 포인트 적립내역 카드-->
                    <div id="userPointHisCard" class="card-body d-none" style="height: 500px">
                        <h5>서비스 준비중입니다.</h5>
                    </div>
                    <!-- endregion -->

                    <!--region 면허사진 카드-->
                    <div id="userLicenseCard" class="card-body d-none">
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label class="form-label font-weight-bolder" for="licenseIssueDt">면허사진</label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" accept="image/*" id="selectLicenseImg" aria-describedby="licenseImg">
                                        <label class="custom-file-label" for="licenseImg">파일을 선택하세요</label>
                                    </div>
                                </div>
                                <p> 이미지의 크기는 500x300을 권장합니다. ( 지원형식 : jpg, jpeg, png, 20MB 이내 )</p>
                            </div>
                        </div>
                        <div class="select_img">
                            <img class="d-block mx-auto bg-gray-200 mb-4" src="" width="600" height="400" alt="IMG" id="licenseImg">
                        </div>
                        <div class="col-lg-12 float-l flex-1 text-right p-b-10">
                            <p><br></p>
                            <button class="btn btn-primary" type="button" id="licenseImgSave">면허사진 저장</button>
                            <button class="btn btn-danger" type="button" onclick="cancelData('saveLicenseInfo')">취소</button>
                        </div>

                        <script th:inline="javascript">
                            var inputFile = document.querySelector("#selectLicenseImg");

                            $("#selectLicenseImg").change(function (file) {
                                if(this.files && this.files[0]) {
                                    let reader = new FileReader;
                                    reader.onload = function (date) {
                                        $(".select_img img").attr("src", date.target.result).width(500);
                                    };
                                    reader.readAsDataURL(this.files[0]);
                                }
                            });

                            $("#licenseImgSave").click(function() {
                                let ulIdx = $("#ulIdx").val();

                                if(isEmpty(ulIdx)) {
                                    errorAlert('면허 정보', '면허정보를 먼저 등록해주세요');
                                    return;
                                }

                                var formData = new FormData();

                                formData.append("image", inputFile.files[0]);
                                formData.append("ulIdx", ulIdx);

                                for (var pair of formData.entries()) {
                                    console.log(pair[0]+ ', ' + pair[1]);
                                }

                                var oReq = new XMLHttpRequest();
                                oReq.addEventListener("load", function() {

                                    if(oReq.status === 200){
                                        location.href = "";
                                        alert(err.responseJSON.message);
                                    }else if (oReq.status === 400){
                                        errorAlert('저장 실패', '관리자에게 문의하세요.');
                                    }else if (oReq.status === 500){
                                        swal("저장 성공", {icon : "success"});
                                        console.log(oReq.response);
                                    }

                                });
                                oReq.open("POST", "/api/v1.0/uploadLicenseImage.do",true);
                                oReq.send(formData);



                                var editor;
                                var path;
                                editor = $("#selectLicenseImg").val();
                                path = ($("#depth_container").text()).replace("/" + "");
                                var type = "html";

                            });
                        </script>


                        <div class="row">
                            <h6 class="col-12 mb-3 font-weight-bold">면허정보</h6>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="sel_LicenseLocation">지역</label>
                                <select class="custom-select" id="sel_LicenseLocation" name="sel_LicenseLocation">
                                    <option value="서울" selected>서울(11)</option>
                                    <option value="부산">부산(12)</option>
                                    <option value="경기">경기(13)</option>
                                    <option value="경기남부">경기남부(13)</option>
                                    <option value="강원">강원(14)</option>
                                    <option value="충북">충북(15)</option>
                                    <option value="충남">충남(16)</option>
                                    <option value="전북">전북(17)</option>
                                    <option value="전남">전남(18)</option>
                                    <option value="경북">경북(19)</option>
                                    <option value="경남">경남(20)</option>
                                    <option value="제주">제주(21)</option>
                                    <option value="대구">대구(22)</option>
                                    <option value="인천">인천(23)</option>
                                    <option value="광주">광주(24)</option>
                                    <option value="대전">대전(25)</option>
                                    <option value="울산">울산(26)</option>
                                    <option value="경기북부">경기북부(28)</option>
                                </select>
                            </div>
                            <div class="col-6 mb-3">
                                <label class="form-label" for="licenseNumber2">번호</label>
                                <input type="text" class="form-control" onblur="licenseNumAutoHyphen('licenseNumber2')" id="licenseNumber2" name="licenseNumber2" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 mb-3">
                                <label class="form-label" for="licenseUserBirthday">생년월일</label>
                                <a id="licenseUserBirthday" name="licenseUserBirthday" class=""></a>
                            </div>
                            <div class="col-4 mb-3">
                                <label class="form-label" for="licenseUserName">성명</label>
                                <input type="text" class="form-control" name="licenseUserName" id="licenseUserName" />
                            </div>
                        </div>

                        <div class="col-lg-12 float-l flex-1 text-right p-b-10">
                            <p><br></p>
                            <button class="btn btn-primary" type="button" onclick="detailValidation('saveAdditionalLicenseInfo');">면허정보 저장</button>
                            <button class="btn btn-danger" type="button" onclick="cancelData('saveLicenseInfo')">취소</button>
                        </div>
                    </div>

                    <!-- endregion -->

                    <!--region 고객평점 카드-->
                    <div id="userGradeCard" class="card-body d-none" style="height: 500px">
                        <h5>서비스 준비중입니다.</h5>
                    </div>
                    <!-- endregion -->

                    <div class="card-footer">
                        <div class="text-right">
                            <div class="row">
                                <div class="mr-2 font-weight-bold" style="cursor: pointer" onclick="changeCardView('userReviewCard')">후기</div>
                                <div class="mr-2 font-weight-bold" style="cursor: pointer" onclick="reserveList()">예약내역</div>
                                <div class="mr-2 font-weight-bold" style="cursor: pointer" onclick="changeCardView('userCouponCard')">쿠폰발급내역</div>
                                <div class="mr-2 font-weight-bold" style="cursor: pointer" onclick="changeCardView('userPointHisCard')">포인트적립내역</div>
                                <div class="mr-2 font-weight-bold" style="cursor: pointer" onclick="changeCardView('userLicenseCard')">면허사진</div>
                                <div class="mr-2 font-weight-bold" style="cursor: pointer" onclick="changeCardView('userGradeCard')">고객평점</div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button th:if="${CRUD == 'modify'}" id="btnWithdrawal" class="btn btn-danger" type="button" onclick="deleteUserInfo()">회원탈퇴</button>
                            <button id="btnClose" class="btn btn-primary" type="button" onclick="self.close()">창 닫기</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Alert Modal -->
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="alertModalLabel">알림</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    CRUD = /*[[${CRUD}]]*/'';
    urIdx = /*[[${urIdx}]]*/'';

    function getLoginUser() {
        return /*[[${session.LOGIN_SESSION}]]*/ '';
    }

    if(CRUD === "insert"){
        openCreateMember();
    }else if (CRUD === "modify"){
        initDetailInfo(urIdx)
    }

    var userBirthday = new WinkelCalendar({
        container: 'userBirthday',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var userRegDt = new WinkelCalendar({
        container: 'userRegDt',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var licenseExpiration = new WinkelCalendar({
        container: 'licenseExpiration',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var licenseIssueDt = new WinkelCalendar({
        container: 'licenseIssueDt',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    var licenseUserBirthday = new WinkelCalendar({
        container: 'licenseUserBirthday',
        bigBanner: true,
        defaultDate: new Date(),
        format: "YYYY년 MM월 DD일"
    });

    function getUserBirthday() {
        return userBirthday.date;
    }

    function getUserRegDt() {
        return userRegDt.date;
    }

    function getLicenseExpiration() {
        return licenseExpiration.date;
    }

    function getLicenseIssueDt() {
        return licenseIssueDt.date;
    }

    function getLicenseUserBirthday() {
        return licenseUserBirthday.date;
    }

    function initDatePicker(id, value) {
        switch (id) {
            case 'userBirthday':
                userBirthday.setDate(new Date(value));
                break;
            case 'userRegDt':
                userRegDt.setDate(new Date(value));
                break;
            case 'licenseExpiration':
                licenseExpiration.setDate(new Date(value));
                break;
            case 'licenseIssueDt':
                licenseIssueDt.setDate(new Date(value));
                break;
            case 'licenseUserBirthday':
                licenseUserBirthday.setDate(new Date(value));
                break;
        }
    }

    function reserveList() {
        opener.location.href = '/reserve';
        window.close();
    }

</script>
</body>
</html>
