<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title>회원사 :: DoCha Admin Web</title>

    <script src="/js/rentCompany.js" th:src="@{/js/rentCompany.js}"></script>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Side Bar -->
    <div th:replace="main_aside :: mainAside"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="main_top_menu :: topMenu"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">회원사</h6>
                    </div>
                    <div class="card-body">
                        <div th:if="${#session.getAttribute('LOGIN_SESSION').userRole == 'RA'}" class="mb-4 text-right">
                            <button class="btn btn-primary" onclick="registerRentShop()">등록</button>
                            <button class="btn btn-primary" onclick="registerRentShopHoliday()">전체휴일 등록</button>
                            <button class="btn" id="btnExcel"></button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                <tr>
                                    <th>No</th>
                                    <th>회원사번호</th>
                                    <th>회사명</th>
                                    <th>지점</th>
                                    <th>지역</th>
                                    <th>주소</th>
                                    <th>관리자</th>
                                    <th>연락처</th>
                                    <th>보유차량</th>
                                    <th>등록차량</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>No</th>
                                    <th>회원사번호</th>
                                    <th>회사명</th>
                                    <th>지점</th>
                                    <th>지역</th>
                                    <th>주소</th>
                                    <th>관리자</th>
                                    <th>연락처</th>
                                    <th>보유차량</th>
                                    <th>등록차량</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="rentCompany, index : ${result}" style="cursor: pointer" th:data-value="${rentCompany.getRtIdx()}">
                                    <td th:text="${index.count}"></td>
                                    <td th:text="${rentCompany.getRtIdx()}"></td>
                                    <td th:text="${rentCompany.getCompanyName()}"></td>
                                    <td th:text="${rentCompany.getBranchName()}"></td>
                                    <td th:text="${#strings.substringBefore(rentCompany.getCompanyAddress(), ' ')}"></td>
                                    <td th:text="${rentCompany.getCompanyAddress() + ' '} + ${rentCompany.getCompanyAddressDetail() == null ? '' :  rentCompany.getCompanyAddressDetail()}"></td>
                                    <td th:text="${rentCompany.getStaffName()}"></td>
                                    <td th:text="${rentCompany.getStaffContact1()}"></td>
                                    <td th:text="${#numbers.formatInteger(rentCompany.getCarCount(), 0, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(rentCompany.getRegCarCount(), 0, 'COMMA')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script>

    function getLoginUser() {
        return /*[[${session.LOGIN_SESSION}]]*/ '';
    }

    initDataTables();

    /* 회원사 상세 페이지 이동 */
    $('table > tbody').on('click', 'tr', function () {
        let rtIdx = $(this).attr('data-value');
        if (rtIdx === "") return;

        var url = "/mem/rentshop/" + rtIdx;
        var name = "test";
        var option = "width = 1400, height =800 ,location=no, left=500, top=50";

        window.open(url, name, option);
    });

    /* 회원사 등록 */
    function registerRentShop() {
        var url = 'rentshop/register';
        var name = "test";
        var width;
        if (parseInt(window.innerWidth) < 1000){
            width = 1000;
        }else {
            width = (parseInt(window.innerWidth) * 0.8);
        }
        var height = (parseInt(window.innerHeight) * 0.9);
        var left =  (window.screen.width / 2) - (width / 2);
        var top = (window.screen.height / 2) - (height / 2);


        var option = "width=" + width +", height=" + height + " ,location=no, left=" + left + ", top=" + top;
        window.open(url, name, option);
    }

    /* 회원사 휴일 등록 */
    function registerRentShopHoliday() {
        var url = 'rentshop/hoilday';
        var name = "test";
        var option = "width = 900, height =600 ,location=no, left=500, top=50";

        window.open(url, name, option);
    }

</script>
</body>
</html>
