<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead">
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
</head>
<head>
    <title>정산 :: DoCha Admin Web</title>

    <script src="/static/js/calculateCustDtail.js" th:src="@{js/calculateCustDtail.js}"></script>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Side Bar -->
    <div th:replace="main_aside :: mainAside"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="main_top_menu :: topMenu"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">정산</h6>
                        <div class="ml-auto align-bottom">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-4 text-right">
                            <button class="btn" id="btnExcel"></button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                <tr>
                                    <th>정산일</th>
                                    <th>회원사</th>
                                    <th>예약</th>
                                    <th>결제금액</th>
                                    <th>할인액</th>
                                    <th>총 금액</th>
                                    <th>MOBILITY-K 수수료</th>
                                    <th>정산예정금액</th>
                                    <th>정산완료금액</th>
                                    <th>미정산금액</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>정산일</th>
                                    <th>회원사</th>
                                    <th>예약</th>
                                    <th>결제금액</th>
                                    <th>할인액</th>
                                    <th>총 금액</th>
                                    <th>MOBILITY-K 수수료</th>
                                    <th>정산예정금액</th>
                                    <th>정산완료금액</th>
                                    <th>미정산금액</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="calculateInfo, index : ${calculateResponseList}" style="cursor: pointer" th:data-value="${calculateInfo.getRmIdx()}">
                                    <td th:text="${calculateInfo.getAccountExpDt()}"></td>
                                    <td th:text="${calculateInfo.getCompanyCount()}"></td>
                                    <td th:text="${calculateInfo.getRmCount()}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getPaymentAmount(), 3, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getDisCountFee(), 3 , 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getTotalFee(), 3 , 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getDochaDisFee(), 3 , 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getOnMissFee(), 3, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getSuccessFee(), 3 , 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getOnMissFee(), 3 , 'COMMA')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    initDataTables();

    /* 정산 관리 페이지 이동 */
    $('table > tbody').on('click', 'tr', function () {
        let reserveDate = $(this).children()[0].textContent;

        var url = "/settlement/" + reserveDate;
        var name = "test";
        var width;
        if (parseInt(window.innerWidth) < 1000){
            width = 1000;
        }else {
            width = (parseInt(window.innerWidth) * 0.8);
        }
        var height = (parseInt(window.innerHeight) * 0.9);
        var left =  (window.screen.width / 2) - (width / 2);
        var top = (window.screen.height / 2) - (height / 2);


        var option = "width=" + width +", height=" + height + " ,location=no, left=" + left + ", top=" + top;
        window.open(url, name, option);
    });

</script>
</body>
</html>