<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead">
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
</head>
<head>
    <title>정산 :: DoCha Admin Web</title>

    <script src="/js/calculateCustDtail.js" th:src="@{/js/calculateCustDtail.js}"></script>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 id="calListTitle" class="m-0 font-weight-bold text-primary" onclick="location.reload();" style="cursor: pointer" th:text="${'정산 (' + reserveDate + ')'}"></h6>
                        <div class="ml-auto align-bottom">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="mb-4 text-right">
                            <button class="btn" id="btnExcel"></button>
                        </div>
                        <div class="table-responsive" id="reserveDateTable">
                            <table class="table table-bordered" id="dataTable">
                                <thead>
                                <tr>
                                    <th>회원사</th>
                                    <th>법인명</th>
                                    <th>은행 계좌번호</th>
                                    <th>예약</th>
                                    <th>결제금액</th>
                                    <th>할인액</th>
                                    <th>총 금액</th>
                                    <th>MOBILITY-K 수수료</th>
                                    <th>정산예정금액</th>
                                    <th>정산완료금액</th>
                                    <th>미정산금액</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>회원사</th>
                                    <th>법인명</th>
                                    <th>은행 계좌번호</th>
                                    <th>예약</th>
                                    <th>결제금액</th>
                                    <th>할인액</th>
                                    <th>총 금액</th>
                                    <th>MOBILITY-K 수수료</th>
                                    <th>정산예정금액</th>
                                    <th>정산완료금액</th>
                                    <th>미정산금액</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="calculateInfo, index : ${calculateResponseList}" style="cursor: pointer" th:data-value="${calculateInfo.getRtIdx()}">
                                    <td th:text="${calculateInfo.getCompanyName() + ' (' + calculateInfo.getBranchName() +')'}"></td>
                                    <td th:text="${calculateInfo.getCompanyRegistrationName()}"></td>
                                    <td th:text="${calculateInfo.getAccountBank() + ' / ' + calculateInfo.getAccountNumber()}"></td>
                                    <td th:text="${calculateInfo.getRmCount()}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getPaymentAmount() , 3, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getDisCountFee() , 3, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getTotalFee() , 3, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getDochaDisFee(), 3, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getOnMissFee() , 3, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getSuccessFee() , 3, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(calculateInfo.getOnMissFee() , 3, 'COMMA')}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="table-responsive" id="rentCompanyTableContent" style="display: none">
                            <table class="table table-bordered" id="rentCompanyTable">
                                <thead>
                                <tr>
                                    <th>예약번호</th>
                                    <th>대여일시</th>
                                    <th>반납일시</th>
                                    <th>모델(차량번호)</th>
                                    <th>결제금액</th>
                                    <th>할인액</th>
                                    <th>총 금액</th>
                                    <th>MOBILITY-K 수수료</th>
                                    <th>정산예정금액</th>
                                    <th>정산완료금액</th>
                                    <th>미정산금액</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>예약번호</th>
                                    <th>대여일시</th>
                                    <th>반납일시</th>
                                    <th>모델(차량번호)</th>
                                    <th>결제금액</th>
                                    <th>할인액</th>
                                    <th>총 금액</th>
                                    <th>MOBILITY-K 수수료</th>
                                    <th>정산예정금액</th>
                                    <th>정산완료금액</th>
                                    <th>미정산금액</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    initDataTables();

    var accountExpDt = /*[[${reserveDate}]]*/'';

    /* 예약 관리 페이지 이동 */
    $('#reserveDateTable table > tbody > tr').click(function () {
        let rtIdx = $(this).attr('data-value');

        var url = '../settlement/rentCompanySettlement.json';
        var req = {
            rtIdx : rtIdx,
            accountExpDt : accountExpDt
        };

        var rentCompanyTable = $('#rentCompanyTable').DataTable( {
            language: {
                emptyTable: "데이터가 존재하지 않습니다.",
                lengthMenu: "페이지당 _MENU_ 개씩 보기",
                info: "현재 _START_ - _END_ / _TOTAL_건",
                infoEmpty: "0 건",
                infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
                search: "검색: ",
                zeroRecords: "일치하는 데이터가 존재하지 않습니다.",
                loadingRecords: "로딩중...",
                processing:     "잠시만 기다려 주세요...",
                paginate: {
                    next: "다음",
                    previous: "이전"
                }
            },
            pageMenu: 10,
            dom : 'ftp',
            orderMulti: true,
            columns: [
                { data : 'rmIdx' },
                { data : 'rentStartDay' },
                { data : 'rentEndDay' },
                { data : 'modelName' },
                { data : 'paymentAmount' },
                { data : 'disCountFee' },
                { data : 'totalFee' },
                { data : 'dochaDisFee' },
                { data : 'onMissFee' },
                { data : 'successFee' },
                { data : 'onMissFee' }
            ],
            columnDefs: [ {
                targets : [3],
                render: function(data, type, row, meta){
                    return row['modelName'] +'(' + row['carNumber'] + ')';
                }},{
                targets : [4],
                render: function(data, type, row, meta){
                    return objectConvertToPriceFormat(row['paymentAmount']);
                }},{
                targets : [5],
                render: function(data, type, row, meta){
                    return objectConvertToPriceFormat(row['disCountFee']);
                }},{
                targets : [6],
                render: function(data, type, row, meta){
                    return objectConvertToPriceFormat(row['totalFee']);
                }},{
                targets : [7],
                render: function(data, type, row, meta){
                    return objectConvertToPriceFormat(row['dochaDisFee']);
                }},{
                targets : [8],
                render: function(data, type, row, meta){
                    return objectConvertToPriceFormat(row['onMissFee']);
                }},{
                targets : [9],
                render: function(data, type, row, meta){
                    return objectConvertToPriceFormat(row['successFee']);
                }},{
                targets : [10],
                render: function(data, type, row, meta){
                    return objectConvertToPriceFormat(row['onMissFee']);
                }
            }],
            ajax : {
                url: url,
                type: 'POST',
                contentType : 'application/json',
                dataType : 'json',
                data : function () {
                    return JSON.stringify(req);
                },
                dataSrc : function (json) {
                    var data = json.result;
                    if (data === null || data === undefined){
                        data = [];
                    }
                    $('#calListTitle').text('정산 (' + data[0].companyName + '-' + data[0].branchName +')');
                    return data;
                },
                error : function (xhr, error, code) {
                    console.log(error);
                }
            }
        } );


        $('#reserveDateTable').css('display','none');
        $('#rentCompanyTableContent').css('display','block');

    });


</script>
</body>
</html>