<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead"></head>
<head>
    <title>차량 속성 :: DoCha Admin Web</title>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Side Bar -->
    <div th:replace="main_aside :: mainAside"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="main_top_menu :: topMenu"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">옵션 속성</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                        </div>
                        <div class="row">
                            <div class="col-6 mb-3">
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="text" class="form-control" id="property" aria-describedby="property" placeholder="옵션명">
                                    </div>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button" id="propertyAdd">등록</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>옵션 속성</th>
                                <th>적용 수</th>
                                <th th:width="40">삭제</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>옵션 속성</th>
                                <th>적용 수</th>
                                <th>삭제</th>
                            </tr>
                            </tfoot>
                            <tbody>
                            <tr th:each="property, index : ${propertyList}" th:data-value="${property.getCodeIdx()}">
                                <td th:text="${property.getCodeValue()}"></td>
                                <td th:text="${property.getPropertyCnt()}"></td>
                                <td class="text-center align-middle">
                                    <button id="delete_btn" class="btn btn-danger btn-sm" type="button" th:data-value="${property.getCodeIdx()}" onclick="event.cancelBubble = true;">삭제</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    $('#dataTable').DataTable( {
        language: {
            emptyTable: "데이터가 존재하지 않습니다.",
            lengthMenu: "페이지당 _MENU_ 개씩 보기",
            info: "현재 _START_ - _END_ / _TOTAL_건",
            infoEmpty: "0 건",
            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
            search: "검색: ",
            zeroRecords: "일치하는 데이터가 존재하지 않습니다.",
            loadingRecords: "로딩중...",
            processing:     "잠시만 기다려 주세요...",
            paginate: {
                next: "다음",
                previous: "이전"
            }
        },
        buttons: [{
            footer: true,
        }],
        "order": [1, "desc"]
    } );

    $('#propertyAdd').click(function () {
        msg = "등록하시겠습니까?";

        if (confirm(msg)) {
            let value = $('#property').val();
            $.ajax({
                url: '../property/option/' + value,
                dataType: "json",
                method: 'POST',
                contentType: 'application/json; charset=utf-8',
                processData: false,
                success: function (res) {
                    alert("성공적으로 등록 되었습니다.");
                    location.reload();
                },
                error: function (err) {
                    alert("등록에 실패했습니다.");
                }
            });
        }
    });

    $('table .btn.btn-danger.btn-sm').click(function () {
        msg = "삭제하시겠습니까?";

        if (confirm(msg)) {
            let codeIdx = $(this).attr('data-value');
            $.ajax({
                url: '../property/' + codeIdx,
                dataType: "json",
                method: 'delete',
                contentType: 'application/json; charset=utf-8',
                processData: false,
                success: function (res) {
                    alert("성공적으로 삭제 되었습니다.");
                    location.reload();
                },
                error: function (err) {
                    alert("삭제에 실패했습니다.");
                }
            });
        }
    });

</script>
</body>
</html>
