html {
    font-size: 14px;
}

html, body{
    height: 100%;
}

table > thead tr th{
    font-size: 14px;
    font-weight: bold;
}

table > tfoot tr th {
    font-size: 14px;
    font-weight: bold;
}

table tbody tr td {
    font-size: 12px;
}

body{
    font-family: 'Roboto',sans-serif;
}
*{
    box-sizing: border-box;
}

.LocationSelect{
    width: 150px;
    height: 350px;
}