<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: mainHead">
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
</head>
<head>
    <title>차량 등록 :: DoCha Admin Web</title>

    <script src="/js/regCar.js" th:src="@{/js/regCar.js}"></script>
</head>
<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Side Bar -->
    <div th:replace="main_aside :: mainAside"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <div th:replace="main_top_menu :: topMenu"></div>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">차량 등록</h6>
                        <div class="ml-auto align-bottom">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="mb-4 text-right">
                                <button class="btn btn-primary" onclick="addRegCar()">차량 등록</button>
                                <button class="btn" id="btnExcel"></button>
                            </div>
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <script th:inline="javascript">
                                    /* 차량 등록 */
                                    function addRegCar() {
                                        var url = "/car/add";
                                        var name = "차량 등록";
                                        var width;
                                        if (parseInt(window.innerWidth) < 1000){
                                            width = 1000;
                                        }else {
                                            width = (parseInt(window.innerWidth) * 0.8);
                                        }
                                        var height = (parseInt(window.innerHeight) * 0.9);
                                        var left =  (window.screen.width / 2) - (width / 2);
                                        var top = (window.screen.height / 2) - (height / 2);


                                        var option = "width=" + width +", height=" + height + " ,location=no, left=" + left + ", top=" + top;
                                        window.open(url, name, option);
                                    }
                                </script>
                                <thead>
                                <tr>
                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th>등록차량번호</th>
                                    <th>회원사<br/>(지점)</th>
                                    <th>모델<br/>(차량번호)</th>
                                    <th>누적km</th>
                                    <th>출고년도</th>
                                    <th>일 기본요금</th>
                                    <th>월 기본요금</th>
                                    <th>상태</th>
                                    <th>정비</th>
                                    <th>비고</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th style="display: none"></th>
                                    <th style="display: none"></th>
                                    <th>등록차량번호</th>
                                    <th>회원사<br/>(지점)</th>
                                    <th>모델<br/>(차량번호)</th>
                                    <th>누적km</th>
                                    <th>출고년도</th>
                                    <th>일 기본요금</th>
                                    <th>월 기본요금</th>
                                    <th>상태</th>
                                    <th>정비</th>
                                    <th>비고</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="car, index : ${carRegList}" style="cursor: pointer" th:data-value="${car.getCrIdx()}">
                                    <td style="display: none" th:text="${car.getRegDt()}"></td>
                                    <td style="display: none" th:text="${car.getRtIdx()}"></td>
                                    <td th:text="${car.getCrIdx()}"></td>
                                    <td th:text="${car.getCompanyName() + '(' + car.getBranchName() + ')'}"></td>
                                    <td th:text="${car.getModelName() + '(' + car.getCarNumber() + ')'}"></td>
                                    <td th:text="${#numbers.formatInteger(car.getMileage(), 3, 'COMMA')}"></td>
                                    <td th:text="${car.getYear()}"></td>
                                    <td th:text="${#numbers.formatInteger(car.getDailyStandardPay(), 0, 'COMMA')}"></td>
                                    <td th:text="${#numbers.formatInteger(car.getMonthlyStandardPay(), 0, 'COMMA')}"></td>
                                    <td th:text="${car.getReserveStatus()}"></td>
                                    <td><div style="width: 100%; height: 2rem; background: green;"></div></td>
                                    <td onclick="event.cancelBubble=true">
                                        <label><input id="dailyRent" name="dailyRent" type="checkbox" value="일대여" class="car-radio" th:checked="${car.getDailyYn() == 'Y' && car.getDailyYn() != null}"><span>일대여</span></label>
                                        <label><input id="monthlyRent" name="monthlyRent" type="checkbox" value="월대여" class="car-radio" th:checked="${car.getMonthlyYn() == 'Y'}"><span>월대여</span></label>
                                        <label th:if="${car.getSuspendCnt() > 0}"><input id="carHoliday" name="carHoliday" type="button" value="휴차일" class="car-radio-checkd"><span>휴차일</span></label>
                                        <label th:if="${car.getSuspendCnt() == 0}"><input id="carHoliday" name="carHoliday" type="button" value="휴차일" class="car-radio"><span>휴차일</span></label>
                                    </td>
                                </tr>
                                <script th:inline="javascript">

                                    /* 일대여 변경 시 상태 update */
                                    $('input:checkbox[id=dailyRent]').change(function () {
                                        var crIdx = $(this).parent().parent().parent().data('value');
                                        var index = $(this).parent().parent().parent().index();
                                        var dailyYn = true; // 일대여 default true, null 일 경우도 true로 조회

                                        var dailyRentArr = document.getElementsByName("dailyRent");
                                        if(dailyRentArr[index].checked !== true) {
                                            dailyYn = false;
                                        }

                                        dailyYn = dailyYn === true ? 'Y' : 'N';

                                        var url = '/car/rentAble.json';
                                        var data = {
                                            crIdx : crIdx,
                                            dailyYn : dailyYn
                                        };

                                        $.ajax({
                                            url: url,
                                            type: 'POST',
                                            data: JSON.stringify(data),
                                            dataType: 'json',
                                            contentType: 'application/json',
                                            cache: false,
                                            async: true,
                                            timeout: 1000
                                        }).done(function (data, textStatus, jqXHR) {

                                        });
                                    });

                                    /* 월대여 변경 시 상태 update */
                                    $('input:checkbox[id=monthlyRent]').change(function () {
                                        var crIdx = $(this).parent().parent().parent().data('value');
                                        var index = $(this).parent().parent().parent().index();
                                        var monthlyYn = true;

                                        var monthlyRentArr = document.getElementsByName("monthlyRent");
                                        if(monthlyRentArr[index].checked !== true) {
                                            monthlyYn = false;
                                        }

                                        monthlyYn = monthlyYn === true ? 'Y' : 'N';

                                        var url = '/car/rentAble.json';
                                        var data = {
                                            crIdx : crIdx,
                                            monthlyYn : monthlyYn
                                        };

                                        $.ajax({
                                            url: url,
                                            type: 'POST',
                                            data: JSON.stringify(data),
                                            dataType: 'json',
                                            contentType: 'application/json',
                                            cache: false,
                                            async: true,
                                            timeout: 1000
                                        }).done(function (data, textStatus, jqXHR) {

                                        });
                                    });

                                    /* 차량 휴차일 설정 */
                                    $('input:button[id=carHoliday]').click(function () {
                                        var crIdx = $(this).parent().parent().parent().data('value');
                                        var rtIdx = $(this).parent().parent().parent().children()[0].textContent;

                                        var url = '/car/hoilday?rtIdx=' + encodeURI(rtIdx) + '&crIdx=' + encodeURI(crIdx);
                                        var name = "test";
                                        var option = "width = 900, height =600 ,location=no, left=500, top=50";

                                        window.open(url, name, option);
                                    });

                                    // 상세보기 이동
                                    $('#dataTable > tbody > tr').click(function () {
                                        var crIdx = $(this).attr('data-value');
                                        if (crIdx === "") return;

                                        var url = "car/detail/" + crIdx;
                                        var name = "차량 수정";
                                        var width;
                                        if (parseInt(window.innerWidth) < 1000) {
                                            width = 1000;
                                        } else {
                                            width = (parseInt(window.innerWidth) * 0.8);
                                        }
                                        var height = (parseInt(window.innerHeight) * 0.9);
                                        var left = (window.screen.width / 2) - (width / 2);
                                        var top = (window.screen.height / 2) - (height / 2);


                                        var option = "width=" + width + ", height=" + height + " ,location=no, left=" + left + ", top=" + top;

                                        window.open(url, name, option);
                                    });

                                </script>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:replace="main_footer :: mainFooter"></div>

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">알림</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">로그아웃을 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/api/v1.0/docha.logout">Logout</a>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    var table = $('#dataTable').DataTable( {
        language: {
            emptyTable: "데이터가 존재하지 않습니다.",
            lengthMenu: "페이지당 _MENU_ 개씩 보기",
            info: "현재 _START_ - _END_ / _TOTAL_건",
            infoEmpty: "0 건",
            infoFiltered: "( _MAX_건의 데이터에서 필터링됨 )",
            search: "검색: ",
            zeroRecords: "일치하는 데이터가 존재하지 않습니다.",
            loadingRecords: "로딩중...",
            processing:     "잠시만 기다려 주세요...",
            paginate: {
                next: "다음",
                previous: "이전"
            }
        },
        order : [0, 'desc'],
        orderMulti: true,
        dom: '<\'row\'<\'col-md-6\'l><\'col-md-6\'f>><\'row\'<\'col-md-6\'B>><\'row\'<\'col-md-12\'t>><\'row\'<\'col-md-6\'i><\'col-md-6\'p>>',
        buttons: [{
            extend: 'excelHtml5',
            charset: 'UTF-8',
            bon : true,
            text: '엑셀 다운로드',
            footer: true,
            className: 'exportBtn btn btn-primary'
        }]
    } );

    table.buttons().container().appendTo($('#btnExcel'));

    function getLoginUser() {
        return /*[[${session.LOGIN_SESSION}]]*/ '';
    }
</script>
</body>
</html>