<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ohdocha.admin.mapper.DochaAdminDashboardMapper">

	<select id="selectDochaDashboardList" parameterType="DochaMap" resultType="DochaMap">

		<!-- 시스템관리자 AD -->
		<if test =" userRole != null and userRole != '' and userRole.equals('RA') ">
			SELECT IFNULL(COUNT(UR_IDX) , '0') AS CNT                              /* 매출 SUM */
			FROM   DC_USER_INFO
			WHERE  USER_ROLE IN('RU')

			UNION ALL
			SELECT IFNULL(COUNT(RT_IDX) , '0')
			FROM   DC_RENT_COMPANY                                          /* 예약 SUM */

			UNION ALL
			SELECT IFNULL(COUNT(QU_IDX) , '0')
			FROM   DC_QUOTE_USER
			WHERE DATE_FORMAT(REG_DT , '%Y%m%d') = DATE_FORMAT(NOW() , '%Y%m%d')         /* 누적월차 SUM */

			UNION ALL
			SELECT COUNT(RM_IDX)
			FROM   DC_RESERVE_MASTER
			WHERE DATE_FORMAT(REG_DT , '%Y%m%d') = DATE_FORMAT(NOW() , '%Y%m%d')        /* 취소 건수 SUM */

			UNION ALL
			SELECT IFNULL(COUNT(QU_IDX)  , '0') as QnA
			FROM   DC_QUESTION                                                          /* QnA SUM */

		</if>



		<!-- 회원사 CA -->
		<if test =" userRole != null and userRole != '' and userRole.equals('CA') and rtIdx != null and rtIdx != '' ">

			SELECT COUNT(RM_IDX) AS CNT
			FROM   DC_RESERVE_MASTER
			WHERE  RT_IDX = #{rtIdx}                                    /* 회원사 총 계약건수 */

			UNION ALL
			SELECT COUNT(QR_IDX)
			FROM   DC_QUOTE_RENT_COMPANY
			WHERE  RT_IDX = #{rtIdx}                                    /* 회원사가보낸 총 견적건수 */

			UNION ALL
			SELECT COUNT(QR_IDX)
			FROM   DC_QUOTE_RENT_COMPANY
			WHERE  RT_IDX = #{rtIdx}
			AND    DATE_FORMAT(REG_DT , '%Y%m%d') = DATE_FORMAT(NOW() , '%Y%m%d')    /* 회원사가 금일 보낸 총 견적건수 */

			UNION ALL
			SELECT COUNT(CR_IDX)
			FROM   DC_CAR_INFO
			WHERE  RT_IDX = #{rtIdx}                                    /* 회원사가 등록할 총 차량 수*/

			UNION ALL
			SELECT COUNT(RM_IDX) AS CNT
			FROM   DC_RESERVE_MASTER
			WHERE  RT_IDX = #{rtIdx}
			AND    DATE_FORMAT(REG_DT , '%Y%m%d') = DATE_FORMAT(NOW() , '%Y%m%d')      /* 회원사 금일 계약건수 */
		</if>


	</select>

	<!-- 메인 화면 카운트 -->
	<select id="calcDailySales" resultType="int" parameterType="DochaMap">
		<![CDATA[
			SELECT SUM(IFNULL(PL.PAYMENT_AMOUNT, 0)) AS PAYMENT_AMOUNT
				   ,RM.RM_IDX
			FROM DC_PAYMENT_LOG AS PL
				JOIN DC_RESERVE_MASTER RM
				ON PL.RM_IDX = RM.RM_IDX
			WHERE PL.APPROVAL_YN = 'Y'
			AND DATE_FORMAT(PL.PAYMENT_DATE, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
		]]>
		<if test="rtIdx != null and rtIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
		<if test="rtPIdx != null and rtPIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
	</select>

	<select id="calcMonthlySales" resultType="int" parameterType="DochaMap">
		<![CDATA[
			SELECT SUM(PL.PAYMENT_AMOUNT) AS PAYMENT_AMOUNT
			 	  ,RM.RM_IDX
			 FROM DC_PAYMENT_LOG PL
			  JOIN DC_RESERVE_MASTER RM
			  ON PL.RM_IDX = RM.RM_IDX
			WHERE PL.APPROVAL_YN = 'Y'
			AND DATE_FORMAT(PL.PAYMENT_DATE, '%m') = DATE_FORMAT(NOW(), '%m')
		]]>
		<if test="rtIdx != null and rtIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
		<if test="rtPIdx != null and rtPIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
	</select>

	<select id="cntDailyReserve" resultType="int" parameterType="DochaMap">
		<![CDATA[
			SELECT COUNT(RM_IDX)
			FROM DC_RESERVE_MASTER RM
			WHERE RESERVE_STATUS_CODE = '예약'
			AND DATE_FORMAT(MOD_DT, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
		]]>
		<if test="rtIdx != null and rtIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
		<if test="rtPIdx != null and rtPIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
	</select>

	<select id="cntMontlyyReserve" resultType="int" parameterType="DochaMap">
		<![CDATA[
			SELECT COUNT(RM_IDX)
			FROM DC_RESERVE_MASTER RM
			WHERE RESERVE_STATUS_CODE = '예약'
			AND DATE_FORMAT(MOD_DT, '%m') = DATE_FORMAT(NOW(), '%m')
		]]>
		<if test="rtIdx != null and rtIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
		<if test="rtPIdx != null and rtPIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
	</select>

	<select id="cntDailyCancel" resultType="int" parameterType="DochaMap">
		<![CDATA[
			SELECT COUNT(RM_IDX)
			FROM DC_RESERVE_MASTER
			WHERE RESERVE_STATUS_CODE = '취소'
			AND DATE_FORMAT(MOD_DT, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d')
		]]>
		<if test="rtIdx != null and rtIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
		<if test="rtPIdx != null and rtPIdx != '' ">
			AND <![CDATA[ RM.RT_IDX = #{rtIdx}  ]]>
		</if>
	</select>

	<select id="cntMonthlyCancel" resultType="int" parameterType="DochaMap">
		<![CDATA[
			SELECT COUNT(RM_IDX) FROM DC_RESERVE_MASTER
			WHERE RESERVE_STATUS_CODE = '취소'
			AND DATE_FORMAT(MOD_DT, '%m') = DATE_FORMAT(NOW(), '%m')
		]]>
	</select>

	<select id="cntQnA" resultType="int" parameterType="DochaMap">
		<![CDATA[
			SELECT COUNT(QU_IDX) FROM DC_QUESTION
		]]>
	</select>

	<!-- 메인 화면 그래프 (일매출)-->
	<select id="salesGraph" resultType="map" parameterType="DochaMap">
		<![CDATA[
			SELECT
				IFNULL(SUM(PAYMENT_AMOUNT), 0) as amount,
			    IFNULL(COUNT(PL_IDX), 0) as salesCount
				FROM DC_PAYMENT_LOG
				WHERE DATE_FORMAT(PAYMENT_DATE, '%Y-%m-%d') = #{startTime}
				GROUP BY DATE_FORMAT(PAYMENT_DATE, '%Y-%m-%d')
				ORDER BY DATE_FORMAT(PAYMENT_DATE, '%Y-%m-%d')
		]]>
	</select>

	<!-- 메인 화면 그래프 (월매출) -->
	<select id="monthlySalesGraph" resultType="map" parameterType="DochaMap">
		<![CDATA[
			SELECT
				DATE_FORMAT(PAYMENT_DATE, '%Y-%m') AS date,
				IFNULL(SUM(PAYMENT_AMOUNT), 0) as amount,
			    IFNULL(COUNT(PL_IDX), 0) as salesCount
				FROM DC_PAYMENT_LOG
				WHERE DATE_FORMAT(PAYMENT_DATE, '%Y-%m') = #{startTime}
				GROUP BY DATE_FORMAT(PAYMENT_DATE, '%Y-%m')
				ORDER BY DATE_FORMAT(PAYMENT_DATE, '%Y-%m')
		]]>
	</select>

	<!-- 메인 화면 그래프 (신규유저) -->
	<select id="newUserGraph" resultType="map" parameterType="DochaMap">
		<![CDATA[
			SELECT IFNULL(COUNT(UR_IDX)  , 0) as newUser
			FROM   DC_USER_INFO
			WHERE  USER_ROLE = 'RU'
			AND    DATE_FORMAT(REG_DT , '%Y-%m-%d') = #{startTime}
		]]>
	</select>

	<!-- 메인 화면 그래프 (취소) -->
	<select id="cancelGraph" resultType="map" parameterType="DochaMap">
		<![CDATA[
			SELECT IFNULL(COUNT(RM_IDX)  , 0) as cancelCount
			FROM   DC_RESERVE_MASTER
			WHERE  RESERVE_STATUS_CODE = '취소'
			AND    DATE_FORMAT(REG_DT , '%Y-%m-%d') = #{startTime}
		]]>
	</select>

</mapper>
