<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohdocha.admin.mapper.DochaAdminCommonCodeMapper">

	<!-- 공통코드리스트  -->
	<select id="selectCommonCodeInfo"  parameterType="commonCodeRequest" 
      			   				  	 resultType="commonCodeResponse">
      	<![CDATA[
					SELECT     
							   IFNULL(CODE_IDX    , '' ) AS CODE_IDX
							,  IFNULL(RT_CODE     , '' ) AS RT_CODE
							,  IFNULL(P_CODE      , '' ) AS P_CODE
							,  IFNULL(CODE        , '' ) AS CODE
							,  IFNULL(CODE_VALUE  , '' ) AS CODE_VALUE
							,  IFNULL(DESCRIPT    , '' ) AS DESCRIPT
							,  IFNULL(SORT        , '' ) AS SORT
							,  IFNULL(ROOT_YN     , '' ) AS ROOT_YN
					FROM 
							DC_COMMON_CODE
         ]]>
         <trim prefix="WHERE" prefixOverrides="AND|OR">
         	<if test="codeIdx != null and codeIdx != ''">
	     		<![CDATA[ CODE_IDX = #{codeIdx} ]]>
	        </if>
	        <if test="rtCode != null and rtCode != ''">
	     		<![CDATA[ AND RT_CODE = #{rtCode} ]]>
	        </if>
	        <if test="pCode != null and pCode != ''">
	     		<![CDATA[ AND P_CODE = #{pCode} ]]>
	        </if>
	        <if test="code != null and code != ''">
	     		<![CDATA[ AND CODE = #{code} ]]>
	        </if>
	        <if test="codeValue != null and codeValue != ''">
	     		<![CDATA[ AND CODE_VALUE = #{codeValue} ]]>
	        </if>
	        <if test="descript != null and descript != ''">
	     		<![CDATA[ AND DESCRIPT = #{descript} ]]>
	        </if>
       	</trim>						  		
	</select>

	<!-- 지역 (광역시/도) 리스트  -->
	<select id="selectAddressInfo"  parameterType="addressInfoRequest"
			resultType="addressInfoResponse">
		<![CDATA[
					SELECT IFNULL(ADD_IDX     , '' ) AS ADD_IDX
					, IFNULL(ADD_DO     , '' ) AS ADD_DO
					FROM DC_ADDRESS_DIVISION
         ]]>
		<![CDATA[ GROUP BY ADD_DO ]]>
	</select>

	<!-- 지역 (선택 상세) 리스트  -->
	<select id="selectAddressDetailInfo"  parameterType="addressInfoRequest"
			resultType="addressInfoResponse">
		<![CDATA[
					SELECT IFNULL(ADD_IDX     , '' ) AS ADD_IDX
					, IFNULL(ADD_DO     , '' ) AS ADD_DO
					, IFNULL(ADD_SI     , '' ) AS ADD_SI
					, IFNULL(ADD_DONG     , '' ) AS ADD_DONG
					, IFNULL(ADD_LI     , '' ) AS ADD_LI
					FROM DC_ADDRESS_DIVISION
         ]]>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="addDo != null and addDo != ''">
				<![CDATA[ AND ADD_DO = #{addDo} GROUP BY ADD_SI]]>
			</if>
			<if test="addSi != null and addSi != ''">
				<![CDATA[ AND ADD_SI = #{addSi} GROUP BY ADD_DONG]]>
			</if>
			<if test="AddDong != null and AddDong != ''">
				<![CDATA[ AND ADD_DONG = #{AddDong} GROUP BY ADD_LI ]]>
			</if>
			<if test="addLi != null and addLi != ''">
				<![CDATA[ AND ADD_LI = #{addLi} ]]>
			</if>
		</trim>
	</select>

	<update id="updateCommonCodeInfo" parameterType="commonCodeRequest" >
		<![CDATA[  UPDATE DC_COMMON_CODE  ]]>
			<trim prefix="SET" suffixOverrides=",">
				<if test="code 		!= null"><![CDATA[  CODE		= #{code},  		]]></if>
				<if test="codeValue != null"><![CDATA[  CODE_VALUE	= #{codeValue},  	]]></if>
			</trim>
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="codeIdx != null and codeIdx != ''">
	     		<![CDATA[ CODE_IDX = #{codeIdx} ]]>
	        </if>
		</trim>
	</update>

    <insert  id="insertCommonCodeInfo" parameterType="commonCodeRequest">			
	<![CDATA[ 
	     INSERT INTO DC_COMMON_CODE (
	     	   RT_CODE
			,  P_CODE
			,  CODE
			,  CODE_VALUE
		) VALUES (
				#{rtCode}
			,	#{pCode}              
			,  	#{code}    
			,  	#{codeValue}
		)
	]]>
    </insert>

	<!-- 댓글 등록 -->
	<insert  id="insertComment" parameterType="commentRequest">
	<![CDATA[
	     INSERT INTO DC_COMMENT (
	     	   COMMENT_MSG
			,  COMMENT_PATH
			,  RT_IDX
			,  REG_ID
			,  REG_DT
		) VALUES (
				#{commentMsg}
			,	#{commentPath}
			,	#{rtIdx}
			,  	#{regId}
			,   NOW()
		)
	]]>
    </insert>
	
</mapper>